%wrapper {
  width: 1440px;
  height: 800px;
  margin: auto;
  border: 1px solid;
}

%quad {
  width: 210px;
  height: 210px;
  border: 20px solid #e8c300;
}

%hr {
  width: 60px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background-color: #e8c300;
}

%h1 {
  font-family: "Bad Script";
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

%strong {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

%p {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
